@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container">
        <div class="row">


            <div class="col-lg-4">
                <h1 class="text-primary">Welcome, to simple record keeping application of a school in this we can store information in various different tables under one platform
                </h1>
            </div>
            <div class="col-lg-8">
                
                <img src="~/lib/img1.jpg" />



            </div>
            <hr />
        </div>

    </div>
  
</div>
